.navbar-brand{
	padding-top:10px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

.vi-link-panel{
	float:right;
	padding:0px;
}

.vi-titulo-panel{
	float:left;
	padding-top:2px;
}