<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"/>
	<title>Cobrança</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	
	
</head>


<body>
	
    <header layout:include="Cabecalho"></header>
    <!-- Aqui começa o conteudo -->
	
    <section layout:fragment="conteudo" style="margin-top:20px;">
    	<p>Conteúdo principal</p>
    </section>
			
    <footer class="colorFooter"> <!-- Aqui e a area do footer -->
		<div class="container">
			<div class="row">
				<div id="linksImportantes" class="col-md-3">
				<h4>Links Importantes</h4>
						<ul>
							<li><a href="#">Link1</a></li>
							<li><a href="#">Link2</a></li>
						</ul>
					</div> <!-- Aqui e a area dos links importantes -->
					<div id="redesSociais" class="col-md-3">
						<h4>Redes Sociais</h4>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Googleplus</a></li>
							<li><a href="#">Twitter</a></li>
						</ul>
					</div> <!-- Aqui e a area das redes sociais -->
					<div id="logoFooter" class="col-md-offset-3 col-md-3">
						<h2>Meu Site</h2>
					</div> <!-- Aqui e a area da logo do rodape -->
   		 	</div>
   		</div>
   	</footer>
   	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy;2016 Desenvolvido por Vitor Felipe - Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</div>
    
 <script src="/js/jquery-2.2.0.min.js"></script>   
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/cobranca.js"></script>
</body>
</html>